.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #0590fa91;
  max-width: 100%; /* Utiliza el ancho máximo disponible */
  margin: 20px auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  color: #555;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .card {
    padding: 15px;
    margin: 15px;
  }

  .card h3 {
    font-size: 1.25rem;
  }

  .card p {
    font-size: 1rem;
  }
}
