.carousel-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .carousel .slide {
    height: 60vh; /* Ajustar la altura de las diapositivas según la pantalla */
  }
  
  .carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
  }
  
  .carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    bottom: 20px;
  }
  
  /* Estilos Responsivos */
  @media (max-width: 768px) {
    .carousel .slide {
      height: 40vh; /* Reducir la altura de las diapositivas en pantallas pequeñas */
    }
  }
  