.home-container {
    width: 100%;
    padding: 0; /* Elimina el padding */
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 50px; /* Ajusta este valor según la altura de tu Navbar */
  }
  
  .home-container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .home-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
  }
  
  .carousel-container {
    margin-bottom: 40px; /* Añade espacio debajo del carrusel */
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .card-link {
    text-decoration: none;
  }
  