.home-container {
  width: 100%;
  background-color: #4d847f55;
  text-align: center;
}

.home-container h1 {
  margin-bottom: 20px;
  font-size: 2.5rem; /* Aumenta ligeramente el tamaño del título */
  color: #333;
}

.home-container p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px; /* Reduzco el espacio entre el título y el párrafo */
}

.carousel-container {
  margin-bottom: 20px; /* Añade un poco de espacio debajo del carrusel */
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px; /* Reduzco el espacio entre las tarjetas y las estadísticas */
}

.card-link {
  text-decoration: none;
}
