.navbar-horizontal {
  width: 100%;
  background-color: #0660f1bb;
  color: #0c0909;
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.navbar-horizontal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centra verticalmente los elementos */
}

.navbar-horizontal ul li {
  display: inline;
}

.navbar-horizontal ul li a {
  font-family: 'Roboto', sans-serif; /* Cambia la fuente a Roboto o a otra profesional */
  font-size: 16px; /* Tamaño de la fuente */
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: color 0.3s ease;
}

.navbar-horizontal ul li a:hover {
  color: #cccccc;
}

/* Estilos para pantallas más pequeñas, por ejemplo, dispositivos móviles */
@media only screen and (max-width: 600px) {
  .navbar-horizontal {
    /* Agrega estilos específicos para dispositivos móviles */
    position: static;
    overflow-x: auto; /* Permite desplazamiento horizontal en dispositivos móviles */
  }

  .navbar-horizontal ul {
    flex-direction: column; /* Cambia la dirección del flexbox para dispositivos móviles */
    text-align: center; /* Centra los elementos en dispositivos móviles */
  }

  .navbar-horizontal ul li {
    margin-bottom: 10px; /* Añade espaciado entre los elementos en dispositivos móviles */
  }
}
