.navbar-vertical {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 200px;
  }
  
  .navbar-vertical ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar-vertical li {
    margin-bottom: 20px;
  }
  
  .navbar-vertical a {
    color: white;
    text-decoration: none;
  }
  